In [ ]:
import pandas as pd
import json
PATH = "csse_covid_19_daily_reports/"

In [ ]:
with open('csse_covid_19_data/country_convert.json','r',encoding='utf-8-sig') as json_file:
  json_data = json.load(json_file)

def country_name_convert(row):
  if row['Country_Region'] in json_data:
    return json_data[row['Country_Region']]
  return row['Country_Region']

def create_dateframe(filename):
  doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')  # 1. csv 파일 읽기
  try:
    doc = doc[['Country_Region','Confirmed']]   # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
  except:
    doc = doc[['Country/Region','Confirmed']]
    doc.columns = ['Country_Region','Confirmed']
  
  doc = doc.dropna(subset=['Confirmed'])        # 3. 특정 컬럼에 없는 데이터 삭제하기
  doc['Country_Region'] = doc.apply(country_name_convert, axis=1) # 4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경
  doc = doc.astype({'Confirmed':'int64'})  # 5. 특정 컬럼의 데이터타입 변경하기
  doc = doc.groupby('Country_Region').sum()     # 6. 특정 컬럼으로 중복된 데이터를 합치기

  # 7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기
  date_column = filename.split('.')[0].lstrip('0').replace('-','/')
  doc.columns = [date_column]
  return doc

In [ ]:
import os

def generate_dateframe_by_path(PATH):
  file_list, csv_list = os.listdir(PATH), list()
  first_doc = True
  for file in file_list:
    if file.split('.')[-1] == 'csv':
      csv_list.append(file)
  csv_list.sort()
  
  temp_list = []
  for csv in csv_list[:]:
    if '2021' in csv:
      temp_list.append(csv)
      csv_list.remove(csv)

  csv_list.extend(temp_list)

  for file in csv_list:
    doc = create_dateframe(file)
    if first_doc:
      final_doc, first_doc = doc, False
    else:
      final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)

  final_doc = final_doc.fillna(0)
  return final_doc

In [ ]:
doc = generate_dateframe_by_path(PATH)
doc

                    1/22/2020  1/23/2020  ...  2/09/2021  2/10/2021
Country_Region                            ...
Afghanistan               0.0        0.0  ...    55384.0    55402.0
Albania                   0.0        0.0  ...    87528.0    88671.0
Algeria                   0.0        0.0  ...   109559.0   109782.0
Andorra                   0.0        0.0  ...    10312.0    10352.0
Angola                    0.0        0.0  ...    20163.0    20210.0
...                       ...        ...  ...        ...        ...
Vietnam                   0.0        2.0  ...     2064.0     2091.0
West Bank and Gaza        0.0        0.0  ...   163975.0   164736.0
Yemen                     0.0        0.0  ...     2131.0     2133.0
Zambia                    0.0        0.0  ...    64610.0    65573.0
Zimbabwe                  0.0        0.0  ...    34781.0    34864.0

[192 rows x 386 columns]

In [ ]:
doc = doc.astype('int64')
doc

                    1/22/2020  1/23/2020  ...  2/09/2021  2/10/2021
Country_Region                            ...
Afghanistan                 0          0  ...      55384      55402
Albania                     0          0  ...      87528      88671
Algeria                     0          0  ...     109559     109782
Andorra                     0          0  ...      10312      10352
Angola                      0          0  ...      20163      20210
...                       ...        ...  ...        ...        ...
Vietnam                     0          2  ...       2064       2091
West Bank and Gaza          0          0  ...     163975     164736
Yemen                       0          0  ...       2131       2133
Zambia                      0          0  ...      64610      65573
Zimbabwe                    0          0  ...      34781      34864

[192 rows x 386 columns]

In [ ]:
doc.to_csv('final_confirmed_df.csv')

In [ ]:
import pandas as pd
df_confirmed = pd.read_csv('final_confirmed_df.csv')
df_confirmed.head()

  Country_Region  1/22/2020  1/23/2020  ...  2/08/2021  2/09/2021  2/10/2021
0    Afghanistan          0          0  ...      55359      55384      55402
1        Albania          0          0  ...      86289      87528      88671
2        Algeria          0          0  ...     109313     109559     109782
3        Andorra          0          0  ...      10275      10312      10352
4         Angola          0          0  ...      20112      20163      20210

[5 rows x 387 columns]

In [ ]:
df_confirmed.shape

(192, 387)

In [ ]:
country_info = pd.read_csv('csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv',encoding='utf-8-sig',keep_default_na=False, na_values='')
country_info.head()

   UID iso2 iso3  code3  ...       Lat      Long_ Combined_Key  Population
0    4   AF  AFG    4.0  ...  33.93911  67.709953  Afghanistan  38928341.0
1    8   AL  ALB    8.0  ...  41.15330  20.168300      Albania   2877800.0
2   12   DZ  DZA   12.0  ...  28.03390   1.659600      Algeria  43851043.0
3   20   AD  AND   20.0  ...  42.50630   1.521800      Andorra     77265.0
4   24   AO  AGO   24.0  ... -11.20270  17.873900       Angola  32866268.0

[5 rows x 12 columns]

In [ ]:
country_info = country_info[['iso2','Country_Region']]
country_info.head()

  iso2 Country_Region
0   AF    Afghanistan
1   AL        Albania
2   DZ        Algeria
3   AD        Andorra
4   AO         Angola

In [ ]:
country_info.shape

(4173, 2)

In [ ]:
country_info = country_info.drop_duplicates(subset='Country_Region', keep='first')
country_info.shape

(194, 2)

In [ ]:
doc_final_country = pd.merge(df_confirmed, country_info, how='left',on='Country_Region')
doc_final_country.head()

  Country_Region  1/22/2020  1/23/2020  ...  2/09/2021  2/10/2021  iso2
0    Afghanistan          0          0  ...      55384      55402    AF
1        Albania          0          0  ...      87528      88671    AL
2        Algeria          0          0  ...     109559     109782    DZ
3        Andorra          0          0  ...      10312      10352    AD
4         Angola          0          0  ...      20163      20210    AO

[5 rows x 388 columns]

In [ ]:
doc_final_country.shape

(192, 388)

In [ ]:
doc_final_country.isnull().sum()

Country_Region    0
1/22/2020         0
1/23/2020         0
1/24/2020         0
1/25/2020         0
                 ..
2/07/2021         0
2/08/2021         0
2/09/2021         0
2/10/2021         0
iso2              5
Length: 388, dtype: int64

In [ ]:
doc_final_country[doc_final_country['iso2'].isnull()]

       Country_Region  1/22/2020  1/23/2020  ...  2/09/2021  2/10/2021  iso2
44        Cruise Ship          0          0  ...          0          0   NaN
49   Diamond Princess          0          0  ...        712        712   NaN
105        MS Zaandam          0          0  ...          9          9   NaN
132            Others          0          0  ...          0          0   NaN
169            Taiwan          1          1  ...        933        935   NaN

[5 rows x 388 columns]

In [ ]:
doc_final_country = doc_final_country.dropna(subset=['iso2'])

In [ ]:
doc_final_country[doc_final_country['iso2'].isnull()]

Empty DataFrame
Columns: [Country_Region, 1/22/2020, 1/23/2020, 1/24/2020, 1/25/2020, 1/26/2020, 1/27/2020, 1/28/2020, 1/29/2020, 1/30/2020, 1/31/2020, 2/01/2020, 2/02/2020, 2/03/2020, 2/04/2020, 2/05/2020, 2/06/2020, 2/07/2020, 2/08/2020, 2/09/2020, 2/10/2020, 2/11/2020, 2/12/2020, 2/13/2020, 2/14/2020, 2/15/2020, 2/16/2020, 2/17/2020, 2/18/2020, 2/19/2020, 2/20/2020, 2/21/2020, 2/22/2020, 2/23/2020, 2/24/2020, 2/25/2020, 2/26/2020, 2/27/2020, 2/28/2020, 2/29/2020, 3/01/2020, 3/02/2020, 3/03/2020, 3/04/2020, 3/05/2020, 3/06/2020, 3/07/2020, 3/08/2020, 3/09/2020, 3/10/2020, 3/11/2020, 3/12/2020, 3/13/2020, 3/14/2020, 3/15/2020, 3/16/2020, 3/17/2020, 3/18/2020, 3/19/2020, 3/20/2020, 3/21/2020, 3/22/2020, 3/23/2020, 3/24/2020, 3/25/2020, 3/26/2020, 3/27/2020, 3/28/2020, 3/29/2020, 3/30/2020, 3/31/2020, 4/01/2020, 4/02/2020, 4/03/2020, 4/04/2020, 4/05/2020, 4/06/2020, 4/07/2020, 4/08/2020, 4/09/2020, 4/10/2020, 4/11/2020, 4/12/2020, 4/13/2020, 4/14/2020, 4/15/2020, 4/16/2020, 4/17/2020, 4/18/2020, 4/19/2020, 4/20/2020, 4/21/2020, 4/22/2020, 4/23/2020, 4/24/2020, 4/25/2020, 4/26/2020, 4/27/2020, 4/28/2020, 4/29/2020, ...]
Index: []

[0 rows x 388 columns]

In [ ]:
def create_flag_link(row):
  flag_link = 'https://www.countryflags.io/' + row + '/flat/64.png'
  return flag_link

doc_final_country['iso2'] = doc_final_country['iso2'].apply(create_flag_link)

In [ ]:
doc_final_country.head()

  Country_Region  ...                                        iso2
0    Afghanistan  ...  https://www.countryflags.io/AF/flat/64.png
1        Albania  ...  https://www.countryflags.io/AL/flat/64.png
2        Algeria  ...  https://www.countryflags.io/DZ/flat/64.png
3        Andorra  ...  https://www.countryflags.io/AD/flat/64.png
4         Angola  ...  https://www.countryflags.io/AO/flat/64.png

[5 rows x 388 columns]

In [ ]:
cols = doc_final_country.columns.tolist()
cols

['Country_Region',
 '1/22/2020',
 '1/23/2020',
 '1/24/2020',
 '1/25/2020',
 '1/26/2020',
 '1/27/2020',
 '1/28/2020',
 '1/29/2020',
 '1/30/2020',
 '1/31/2020',
 '2/01/2020',
 '2/02/2020',
 '2/03/2020',
 '2/04/2020',
 '2/05/2020',
 '2/06/2020',
 '2/07/2020',
 '2/08/2020',
 '2/09/2020',
 '2/10/2020',
 '2/11/2020',
 '2/12/2020',
 '2/13/2020',
 '2/14/2020',
 '2/15/2020',
 '2/16/2020',
 '2/17/2020',
 '2/18/2020',
 '2/19/2020',
 '2/20/2020',
 '2/21/2020',
 '2/22/2020',
 '2/23/2020',
 '2/24/2020',
 '2/25/2020',
 '2/26/2020',
 '2/27/2020',
 '2/28/2020',
 '2/29/2020',
 '3/01/2020',
 '3/02/2020',
 '3/03/2020',
 '3/04/2020',
 '3/05/2020',
 '3/06/2020',
 '3/07/2020',
 '3/08/2020',
 '3/09/2020',
 '3/10/2020',
 '3/11/2020',
 '3/12/2020',
 '3/13/2020',
 '3/14/2020',
 '3/15/2020',
 '3/16/2020',
 '3/17/2020',
 '3/18/2020',
 '3/19/2020',
 '3/20/2020',
 '3/21/2020',
 '3/22/2020',
 '3/23/2020',
 '3/24/2020',
 '3/25/2020',
 '3/26/2020',
 '3/27/2020',
 '3/28/2020',
 '3/29/2020',
 '3/30/2020',
 '3/31/2020',
 '4/01/2020',
 '4/02/2020',
 '4/03/2020',
 '4/04/2020',
 '4/05/2020',
 '4/06/2020',
 '4/07/2020',
 '4/08/2020',
 '4/09/2020',
 '4/10/2020',
 '4/11/2020',
 '4/12/2020',
 '4/13/2020',
 '4/14/2020',
 '4/15/2020',
 '4/16/2020',
 '4/17/2020',
 '4/18/2020',
 '4/19/2020',
 '4/20/2020',
 '4/21/2020',
 '4/22/2020',
 '4/23/2020',
 '4/24/2020',
 '4/25/2020',
 '4/26/2020',
 '4/27/2020',
 '4/28/2020',
 '4/29/2020',
 '4/30/2020',
 '5/01/2020',
 '5/02/2020',
 '5/03/2020',
 '5/04/2020',
 '5/05/2020',
 '5/06/2020',
 '5/07/2020',
 '5/08/2020',
 '5/09/2020',
 '5/10/2020',
 '5/11/2020',
 '5/12/2020',
 '5/13/2020',
 '5/14/2020',
 '5/15/2020',
 '5/16/2020',
 '5/17/2020',
 '5/18/2020',
 '5/19/2020',
 '5/20/2020',
 '5/21/2020',
 '5/22/2020',
 '5/23/2020',
 '5/24/2020',
 '5/25/2020',
 '5/26/2020',
 '5/27/2020',
 '5/28/2020',
 '5/29/2020',
 '5/30/2020',
 '5/31/2020',
 '6/01/2020',
 '6/02/2020',
 '6/03/2020',
 '6/04/2020',
 '6/05/2020',
 '6/06/2020',
 '6/07/2020',
 '6/08/2020',
 '6/09/2020',
 '6/10/2020',
 '6/11/2020',
 '6/12/2020',
 '6/13/2020',
 '6/14/2020',
 '6/15/2020',
 '6/16/2020',
 '6/17/2020',
 '6/18/2020',
 '6/19/2020',
 '6/20/2020',
 '6/21/2020',
 '6/22/2020',
 '6/23/2020',
 '6/24/2020',
 '6/25/2020',
 '6/26/2020',
 '6/27/2020',
 '6/28/2020',
 '6/29/2020',
 '6/30/2020',
 '7/01/2020',
 '7/02/2020',
 '7/03/2020',
 '7/04/2020',
 '7/05/2020',
 '7/06/2020',
 '7/07/2020',
 '7/08/2020',
 '7/09/2020',
 '7/10/2020',
 '7/11/2020',
 '7/12/2020',
 '7/13/2020',
 '7/14/2020',
 '7/15/2020',
 '7/16/2020',
 '7/17/2020',
 '7/18/2020',
 '7/19/2020',
 '7/20/2020',
 '7/21/2020',
 '7/22/2020',
 '7/23/2020',
 '7/24/2020',
 '7/25/2020',
 '7/26/2020',
 '7/27/2020',
 '7/28/2020',
 '7/29/2020',
 '7/30/2020',
 '7/31/2020',
 '8/01/2020',
 '8/02/2020',
 '8/03/2020',
 '8/04/2020',
 '8/05/2020',
 '8/06/2020',
 '8/07/2020',
 '8/08/2020',
 '8/09/2020',
 '8/10/2020',
 '8/11/2020',
 '8/12/2020',
 '8/13/2020',
 '8/14/2020',
 '8/15/2020',
 '8/16/2020',
 '8/17/2020',
 '8/18/2020',
 '8/19/2020',
 '8/20/2020',
 '8/21/2020',
 '8/22/2020',
 '8/23/2020',
 '8/24/2020',
 '8/25/2020',
 '8/26/2020',
 '8/27/2020',
 '8/28/2020',
 '8/29/2020',
 '8/30/2020',
 '8/31/2020',
 '9/01/2020',
 '9/02/2020',
 '9/03/2020',
 '9/04/2020',
 '9/05/2020',
 '9/06/2020',
 '9/07/2020',
 '9/08/2020',
 '9/09/2020',
 '9/10/2020',
 '9/11/2020',
 '9/12/2020',
 '9/13/2020',
 '9/14/2020',
 '9/15/2020',
 '9/16/2020',
 '9/17/2020',
 '9/18/2020',
 '9/19/2020',
 '9/20/2020',
 '9/21/2020',
 '9/22/2020',
 '9/23/2020',
 '9/24/2020',
 '9/25/2020',
 '9/26/2020',
 '9/27/2020',
 '9/28/2020',
 '9/29/2020',
 '9/30/2020',
 '10/01/2020',
 '10/02/2020',
 '10/03/2020',
 '10/04/2020',
 '10/05/2020',
 '10/06/2020',
 '10/07/2020',
 '10/08/2020',
 '10/09/2020',
 '10/10/2020',
 '10/11/2020',
 '10/12/2020',
 '10/13/2020',
 '10/14/2020',
 '10/15/2020',
 '10/16/2020',
 '10/17/2020',
 '10/18/2020',
 '10/19/2020',
 '10/20/2020',
 '10/21/2020',
 '10/22/2020',
 '10/23/2020',
 '10/24/2020',
 '10/25/2020',
 '10/26/2020',
 '10/27/2020',
 '10/28/2020',
 '10/29/2020',
 '10/30/2020',
 '10/31/2020',
 '11/01/2020',
 '11/02/2020',
 '11/03/2020',
 '11/04/2020',
 '11/05/2020',
 '11/06/2020',
 '11/07/2020',
 '11/08/2020',
 '11/09/2020',
 '11/10/2020',
 '11/11/2020',
 '11/12/2020',
 '11/13/2020',
 '11/14/2020',
 '11/15/2020',
 '11/16/2020',
 '11/17/2020',
 '11/18/2020',
 '11/19/2020',
 '11/20/2020',
 '11/21/2020',
 '11/22/2020',
 '11/23/2020',
 '11/24/2020',
 '11/25/2020',
 '11/26/2020',
 '11/27/2020',
 '11/28/2020',
 '11/29/2020',
 '11/30/2020',
 '12/01/2020',
 '12/02/2020',
 '12/03/2020',
 '12/04/2020',
 '12/05/2020',
 '12/06/2020',
 '12/07/2020',
 '12/08/2020',
 '12/09/2020',
 '12/10/2020',
 '12/11/2020',
 '12/12/2020',
 '12/13/2020',
 '12/14/2020',
 '12/15/2020',
 '12/16/2020',
 '12/17/2020',
 '12/18/2020',
 '12/19/2020',
 '12/20/2020',
 '12/21/2020',
 '12/22/2020',
 '12/23/2020',
 '12/24/2020',
 '12/25/2020',
 '12/26/2020',
 '12/27/2020',
 '12/28/2020',
 '12/29/2020',
 '12/30/2020',
 '12/31/2020',
 '1/01/2021',
 '1/02/2021',
 '1/03/2021',
 '1/04/2021',
 '1/05/2021',
 '1/06/2021',
 '1/07/2021',
 '1/08/2021',
 '1/09/2021',
 '1/10/2021',
 '1/11/2021',
 '1/12/2021',
 '1/13/2021',
 '1/14/2021',
 '1/15/2021',
 '1/16/2021',
 '1/17/2021',
 '1/18/2021',
 '1/19/2021',
 '1/20/2021',
 '1/21/2021',
 '1/22/2021',
 '1/23/2021',
 '1/24/2021',
 '1/25/2021',
 '1/26/2021',
 '1/27/2021',
 '1/28/2021',
 '1/29/2021',
 '1/30/2021',
 '1/31/2021',
 '2/01/2021',
 '2/02/2021',
 '2/03/2021',
 '2/04/2021',
 '2/05/2021',
 '2/06/2021',
 '2/07/2021',
 '2/08/2021',
 '2/09/2021',
 '2/10/2021',
 'iso2']

In [ ]:
cols.remove('iso2')
cols.insert(1, 'iso2')

In [ ]:
doc_final_country = doc_final_country[cols]

In [ ]:
doc_final_country.head()

  Country_Region  ... 2/10/2021
0    Afghanistan  ...     55402
1        Albania  ...     88671
2        Algeria  ...    109782
3        Andorra  ...     10352
4         Angola  ...     20210

[5 rows x 388 columns]

In [ ]:
cols[1] = 'Country_Flag'

In [ ]:
doc_final_country.columns = cols
doc_final_country.head()

  Country_Region  ... 2/10/2021
0    Afghanistan  ...     55402
1        Albania  ...     88671
2        Algeria  ...    109782
3        Andorra  ...     10352
4         Angola  ...     20210

[5 rows x 388 columns]

In [ ]:
doc_final_country.to_csv('final_confirmed_for_graph.csv')